.about-me {
    background-color: var(--surface-color);
}

.hero {
    display: grid;
    width: var(--content-width);
    margin: auto;
    gap: 20px;
    padding: var(--content-padding);
    grid-template-columns: 1fr;
    grid-template-areas:
        "img"
        "text"
        "tags"
        "btn";
}
.hero__tags {
    display: flex;
    gap: 5px;
    grid-area: tags;
    flex-wrap: wrap;
}

.hero__btn {
    grid-area: btn;
    width: 100%;
    justify-content: center;
}

.hero__image {
    object-fit: cover;
    border-radius: 100%;
    object-position: 0 -25px;
    grid-area: img;
    justify-self: center;
    width: 180px;
    height: 180px;
}

.hero__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 800px) {
    .hero {
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "text img"
            "btn  img"
            "tags img";
        gap: 40px 20px;
    }

    .hero__image {
        width: 300px;
        height: 300px;
    }
    
    .hero__btn {
        width: fit-content;
    }
}

