.about-me {
    --content-width: clamp(400px, 100%, 1200px);
    background-color: var(--surface-color);
}

.hero {
    display: grid;
    width: var(--content-width);
    margin: auto;
    gap: 40px 20px;
    padding: 40px;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "text img"
        "btn  img"
        "tags img";
}

.hero__tags {
    display: flex;
    gap: 5px;
    grid-area: tags;
}

.hero__image {
    object-fit: cover;
    border-radius: 100%;
    object-position: 0 -25px;
    grid-area: img;
    justify-self: center;
}

.hero__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
