.skills {
    background-color: var(--background-color);
}
.skills__content {
    width: var(--content-width);
    margin: auto;
    padding:80px var(--content-padding);
    gap: 40px;
    
    display: flex;
    flex-direction: column-reverse;
}

.skills__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.skills__cards {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "a b"
        "main main"
        "c d";
}

.skills__cards__main {
    grid-area: main;
}

@media screen and (min-width: 800px) {
    .skills__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

