.career {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    background: var(--background-color-2);
}

.career__menu {
    height: 100%;
    width: 100vw;
    background-color: var(--surface-color);
    padding: var(--content-padding);
}

.career__content {
    padding: 80px;
}

@media screen and (min-width: 800px) {
    .career__menu {
        width: 320px;
    }
}
