.career {
    height: 100vh;
    position: relative;
    display: grid;
    background: var(--background-color-2);
    scroll-snap-type: x mandatory;
    grid-template-columns: 100vw 100vw;
    overflow: auto;
    scroll-behavior: smooth;
}

.career__menu {
    height: 100%;
    width: 100vw;
    background-color: var(--surface-color);
    padding: var(--content-padding);
    scroll-snap-align: start;
}

.career__content {
    padding: var(--content-padding);
    scroll-snap-align: start;
    overflow: auto;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .career {
        grid-template-columns: auto 1fr;
    }
    .career__menu {
        width: 320px;
    }
}
