.experience-details__company {
    text-align: right;
}
.experience-details .experience-details__company-description {
    text-align: right;
    color: var(--secondary-color);
}

.experience-details__role {
    margin-top: 30px;
}

.experience-details__role-name {
    margin-bottom: 20px;
}

.experience-details__skills {
    display: flex;
    gap: 5px;
    grid-area: tags;
    flex-wrap: wrap;
}
