.header {
    padding: 30px;
    position: relative;
    background-color: var(--surface-color);

    .nav-button {
        flex: 1;
        text-align: center;
        padding: 5px 8px;
    }

    @media screen and (min-width: 800px) {
        .nav-button{
            flex: unset;
            padding: 10px 15px;
        }
    }
}


.header__nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.header__links {
    display: none;
    gap: 5px;
    position: absolute;
    right: 10px;
    top: 34px;
    margin: auto;
    font-size: 22px;
    color: var(--secondary-color);

    a:hover {
        color: var(--text-color);
    }
}

@media screen and (min-width: 800px) {
    .header__links {
        display: flex;
    }
}
